html {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  min-height: 100%;
  overflow-x: hidden;
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  min-height: 100%;
  color: #000;
  background: #fff;
}

